*.elc
*.pyc
*~
*\#
.*.swp
._*
.DS_Store
.Trashes*
.Spotlight-V100*
.fseventsd*
*.retry
session.*
repos/
system/editors/emacs/.emacs.d/recentf
system/editors/emacs/.emacs.d/elpa/archives/
system/editors/emacs/.emacs.d/modules/ergoemacs-mode
system/editors/emacs/.emacs.d/var/
system/editors/emacs/.emacs.d/url/
system/editors/emacs/.emacs.d/.#recentf
system/editors/emacs/.emacs.d/modules/ergoemacs-mode-master-branch-broken/
*system/editors/emacs/.emacs.d/modules/ergoemacs-mode
*editors/emacs/.emacs.d/recentf
*editors/emacs/.emacs.d/.#recentf
*editors/emacs/.emacs.d/elpa/archives/melpa-stable/
*editors/emacs/.emacs.d/elpa/gnupg/.gpg-v21-migrated
*editors/emacs/.emacs.d/elpa/undo-tree-0.6.5.signed
*editors/emacs/.emacs.d/elpa/undo-tree-0.6.5/
*editors/emacs/.emacs.d/session*
*system/editors/emacs/.emacs.d/.#session*
.vitepress/dist/
