*.elc
*.pyc
*~
*\#
.*.swp
._*
.DS_Store
.Trashes*
.Spotlight-V100*
.fseventsd*
*.retry
system/editors/emacs/.emacs.d/recentf
*editors/emacs/.emacs.d/recentf
*editors/emacs/.emacs.d/.#recentf
system/editors/emacs/.emacs.d/elpa/archives/
*editors/emacs/.emacs.d/elpa/archives/melpa-stable/
*editors/emacs/.emacs.d/elpa/gnupg/.gpg-v21-migrated
*editors/emacs/.emacs.d/elpa/undo-tree-0.6.5.signed
*editors/emacs/.emacs.d/elpa/undo-tree-0.6.5/
*editors/emacs/.emacs.d/session*
session.*
repos/
system/editors/emacs/.emacs.d/url/
